#capsTable {
    border-collapse: collapse;
}

#capsTable td:not(:first-child) {
    text-align: right;
    padding: 0;
    width: 2em;
}

#capsTable th {
    padding: 0;
}

#capsTable th:not(:first-child) {
    text-align: right;
}
