a {
    color: #ed3f1c;
}

body {
    font-family: verdana, sans-serif;
    font-size: 150%;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
}

button {
    letter-spacing: 1px;
    font-size: 125%;
    padding: 0.4em;
    color: #ed3f1c;
    border: none;
    border-radius: 0.1em;    
}

h1 {
    display: block;
    font-size: 200%;
    letter-spacing: 2px;
    color: #ed8008;
    margin-bottom: 0.75em;
}

h2 {
    display: inline-block;
    font-size: 150%;
    letter-spacing: 2px;
    color: #ed8008;
}

label {
    display: inline-block;
    letter-spacing: 1px;
    color: #ed8008;
    font-size: 125%;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

input:read-only {
    background-color: inherit;
    border: none;
}

input[type="text"] {
    font-size: 125%;
    padding: 0.25em;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 0.1em;
}

input[type="password"] {
    font-size: 125%;
    padding: 0.25em;
    box-sizing: border-box;
    border: none;
    border-radius: 0.1em;
}

select {
    font-size: 125%;
    padding: 0.25em;
    box-sizing: border-box;
}

td:not(:last-child) {
    padding-right: 0.25em;
}

textarea {
    resize: none;
    overflow-y: scroll;
    font-size: 125%;
    padding: 0.25em;
    box-sizing: border-box;
}

th {
    font-size: 125%;
    letter-spacing: 1px;
    color: #ed8008;
    padding: 0.5em 0;
    padding-right: 0.5em;
    text-align: left;
}

tr:not(:last-child) > td {
    padding-bottom: 0.25em;
}

#buttons {
    margin-top: 3em;
}

#frame {
    padding: 1em;
    border-radius: 0.4em;
    background-color: #d9d2c6;
}

#table {
    margin-top: 1em;
    display: inline-block;
}

#table > button:not(:last-child) {
    margin-bottom: 0.25em;
}
